* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#network,
#power-profiles-daemon,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #04a801;
}
#battery.critical{
	color: #dc322f;
}
#battery.warning{
	color: #dcc52f;
}
#battery.charging{
	color: #4f6fff;
}
@keyframes blink {
	to {
		color: transparent;
	}
}

#battery.critical:not(.charging) {
	color: #dc322f;
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#disk {
	color: #b58900;
}
#temperature {
	color: #3961fa;
}
#temperature.critical{
	color: #dc322f;
}

#network {
	color: #16cb34;
}
#network.disconnected {
	color: #dc322f;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#temperature,
#disk {
	padding: 0 10px;
}

